* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
}
body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}
header {
  grid-column: 2 /3;
  grid-row: 1 / 2;
}
aside {
  background-color: rgb(55, 133, 250);
  color: whitesmoke;
  grid-column: 1 /2;
  grid-row: 1 / 3;
}
