* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  --blue-aside: #1992d4;
}
img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}
header {
  grid-column: 2 /3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 25px 50px 20px 40px;
}
.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header-icons {
  width: 24px;
  fill: currentColor;
  color: gray;
}
.top-header {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.search-container {
  grid-column: 1/2;
}
input[type="search"] {
  border: none;
  background-color: rgb(217, 217, 217);
  border-radius: 10px;
  width: 600px;
  padding-left: 10px;
}
.notification-user {
  grid-column: 2/3;
}
.notification-user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.small-avatar,
.large-avatar {
  clip-path: circle();
}
.small-avatar {
  height: 100px;
}
.large-avatar {
  height: 150px;
}
.user-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: start;
  align-items: center;
}
.action-btns-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.action-btns-container button {
  background-color: var(--blue-aside);
  border-radius: 30px;
  color: whitesmoke;
  height: 50px;
  width: 100px;
}
aside {
  background-color: var(--blue-aside);
  color: whitesmoke;
  grid-column: 1 /2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 5fr;
}
.logo-title-container {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
}
.logo-container {
  padding-left: 20px;
  padding-right: 20px;
}
.dashboard-logo {
  fill: currentColor;
  width: 3rem;
  height: 3rem;
}
.main-nav {
  grid-row: 2/3;
}
.nav-element {
  background-color: var(--blue-aside);
  color: whitesmoke;
  font-size: 1.5rem;
  height: 50px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.nav-element:hover {
  cursor: pointer;
  background-color: #006094;
}
.nav-element p {
  text-align: start;
}
.icon-container {
  grid-column: 1 / 2;
  display: grid;
  justify-content: center;
  width: 100%;
}
.nav-icon {
  width: 1.5rem;
  height: 2rem;
  fill: currentColor;
}

.user-config-wrapper {
  grid-row: 3/4;
}

main {
  background-color: lightgray;
}
