* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  --blue-aside: #1992d4;
}
img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 180px 846px;
}
header {
  grid-column: 2 /3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 25px 50px 20px 40px;
}
.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header-icons {
  width: 24px;
  fill: currentColor;
  color: rgb(46, 46, 46);
}
.top-header {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.search-container {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 15px;
}
.magnifier-container {
  display: grid;
  align-items: center;
}
input[type="search"] {
  border: none;
  background-color: #e1e8f0;
  border-radius: 50px;
  width: 600px;
  height: 35px;
  padding-left: 10px;
}
.notification-user {
  grid-column: 2/3;
}
.notification-user {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 2fr;
}
.notification-user h6 {
  font-size: 1rem;
}
.main-header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.small-avatar,
.large-avatar {
  clip-path: circle();
}
.small-avatar {
  height: 50px;
}
.large-avatar {
  height: 80px;
}
.user-info {
  display: grid;
  grid-template-columns: 80px 3fr;
  gap: 25px;
  justify-content: start;
  align-items: center;
}
.action-btns-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.action-btns-container button {
  background-color: var(--blue-aside);
  border-radius: 30px;
  color: whitesmoke;
  height: 50px;
  width: 100px;
}
aside {
  background-color: var(--blue-aside);
  color: whitesmoke;
  grid-column: 1 /2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 5fr;
}
.logo-title-container {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
}
.logo-container {
  padding-left: 20px;
  padding-right: 20px;
}
.dashboard-logo {
  fill: currentColor;
  width: 3rem;
  height: 3rem;
}
.main-nav {
  grid-row: 2/3;
}
.nav-element {
  background-color: var(--blue-aside);
  color: whitesmoke;
  font-size: 1.5rem;
  height: 50px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.nav-element:hover {
  cursor: pointer;
  background-color: #006094;
}
.nav-element p {
  text-align: start;
}
.icon-container {
  grid-column: 1 / 2;
  display: grid;
  justify-content: center;
  width: 100%;
}
.nav-icon {
  width: 1.5rem;
  height: 2rem;
  fill: currentColor;
}

.user-config-wrapper {
  grid-row: 3/4;
}

main {
  background-color: #dae5f7;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.articles-section {
  grid-row: 1 / 3;
  background-color: white;
}
.articles-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
.articles-wrapper article {
  background-color: whitesmoke;
  border-left: 5px solid orange;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 20px;
}
.article-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  border: none;
  background-color: whitesmoke;
}
.share-save-container button {
  border: none;
  background-color: whitesmoke;
}
.announcement-card-container {
  background-color: whitesmoke;
  padding: 40px;
  border-radius: 20px;
}
.trending {
  grid-column: 2 / 3;
  background-color: whitesmoke;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 20px;
}
.trending-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
