* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  --blue-aside: #1992d4;
}
img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
}
body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}
header {
  grid-column: 2 /3;
  grid-row: 1 / 2;
}
aside {
  background-color: var(--blue-aside);
  color: whitesmoke;
  grid-column: 1 /2;
  grid-row: 1 / 3;
  display: grid;
}

aside button {
  background-color: var(--blue-aside);
  color: whitesmoke;
  font-size: 1.5rem;
}
.main-nav {
  display: grid;
}
.user-config-wrapper {
  border-top: 1px solid red;
  display: grid;
}
