* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  --blue-aside: #1992d4;
  --clear-card: #ffffff;
}
img {
  display: block;
  max-width: 100%;
}
button {
  border: none;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 180px 846px;
}
header {
  grid-column: 2 /3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 25px 50px 20px 40px;
}
.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header-icons {
  width: 24px;
  fill: currentColor;
  color: rgb(46, 46, 46);
}
.top-header {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.search-container {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 15px;
}
.magnifier-container {
  display: grid;
  align-items: center;
}
input[type="search"] {
  border: none;
  background-color: #e1e8f0;
  border-radius: 50px;
  width: 600px;
  height: 35px;
  padding-left: 10px;
}
.notification-user {
  grid-column: 2/3;
}
.notification-user {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 2fr;
}
.notification-user h6 {
  font-size: 1rem;
}
.main-header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.small-avatar,
.large-avatar {
  clip-path: circle();
}
.small-avatar {
  height: 50px;
}
.large-avatar {
  height: 80px;
}
.user-info {
  display: grid;
  grid-template-columns: 80px 3fr;
  gap: 25px;
  justify-content: start;
  align-items: center;
}
.action-btns-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.action-btns-container button {
  background-color: var(--blue-aside);
  border-radius: 30px;
  color: whitesmoke;
  height: 50px;
  width: 100px;
}
aside {
  background-color: var(--blue-aside);
  color: whitesmoke;
  padding-right: 90px;
  padding-left: 20px;
  padding-top: 20px;
  grid-column: 1 /2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 5fr;
}
.logo-title-container {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 40px 140px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.dashboard-logo {
  height: 50px;
  width: 50px;
  fill: currentColor;
}
.main-nav {
  grid-row: 2/3;
  padding-top: 60px;
  padding-bottom: 80px;
  grid-template-columns: 40px 140px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.nav-element {
  background-color: var(--blue-aside);
  color: whitesmoke;
  font-size: 1.5rem;
  height: 50px;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-columns: 40px 140px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.nav-element:hover {
  cursor: pointer;
  background-color: #006094;
}
.nav-element p {
  text-align: start;
}
.icon-container {
  grid-column: 1 / 2;
  display: grid;
  justify-content: center;
  width: 100%;
}
.nav-icon {
  width: 1.5rem;
  height: 2rem;
  fill: currentColor;
}

.user-config-wrapper {
  grid-row: 3/4;
}

main {
  background-color: #e1e8f0;
  padding: 40px 35px 66px 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: minmax(780px, 1fr) minmax(280px, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.articles-section {
  grid-row: 1 / 3;
}
.articles-section h2 {
  padding-bottom: 13px;
  font-weight: 500;
}
.articles-wrapper {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 380px));
  grid-template-rows: repeat(3, 220px);
  gap: 20px;
}
.articles-wrapper article {
  position: relative;
  background-color: var(--clear-card);
  border-left: 10px solid #f0b428;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 20px;
}
.article-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  border: none;
  background-color: var(--clear-card);
}
.share-save-container {
  position: absolute;
  right: 30px;
  bottom: 40px;
  width: 130px;
  height: 15px;
  display: grid;
  justify-content: end;
  align-items: end;
  grid-template-columns: repeat(3, 1fr);
}
.share-save-container button {
  border: none;
  background-color: var(--clear-card);
  color: #6d6d6d;
}
.annoucements-container h2 {
  padding-bottom: 13px;
}
.announcement-card-container {
  background-color: var(--clear-card);
  padding: 40px 28px 30px 25px;
  border-radius: 20px;
}
.announcement-card-container article {
  padding: 8px;
  border-bottom: 1px solid #e8e8e8;
}
.announcement-card-container article h6 {
  font-size: 1rem;
}
.announcement-card-container article p {
  font-size: 0.8rem;
  color: #959595;
}
.trending {
  grid-column: 2 / 3;
}
.trending h2 {
  padding-bottom: 13px;
}
.trending-container {
  background-color: var(--clear-card);
  border-radius: 10px;

  padding: 30px 60px 30px 25px;
  height: 325px;
  display: grid;
  gap: 20px;
}
.trending-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 20px;
}
.trending-text-container {
  grid-column: 2 / 3;
  font-size: 1rem;
  display: grid;
  grid-template-rows: repeat(2, 19px);
}

.trending-text-container span {
  color: #cdcdcd;
  font-weight: lighter;
}
